[user]
  name = Bogdan Carpusor
  email = bogdan.carpusor@gmail.com

[http]
  emptyAuth = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[sequence]
  editor = interactive-rebase-tool

[merge]
  tool = vimdiff

[include]
  path = ~/.config/dev-machine/gitconfig
